{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}

{% block form_id %}user_charge_modal{% endblock %}
{% block form_action %}{% url 'horizon:costs:charge:index' %}{% endblock %}

{% block modal_id %}user_charge_modal{% endblock %}
{% block modal-header %}用户充值{% endblock %}

{% block modal-body %}
<div class="left">
  <fieldset>
    {% include "horizon/common/_form_fields.html" %}
    </fieldset>
</div>
<div class="right">
    <h3>{% trans "Description:" %}</h3>
    <p>请输入您充值的金额</p>
</div>
{% endblock %}

{% block modal-footer %}
    <button type="submit" class="btn btn-primary">充值</button>
    {% if hide %}<a href="{% url 'horizon:costs:overview:index' %}" class="btn secondary cancel close">{% trans "Cancel" %}</a>{% endif %}
{% endblock %}
