/* -------------------------------- 

Primary style
www.sucaijiayuan.com
-------------------------------- */
html * {
/*  background: url("../images/bg.jpg") repeat scroll center top #826E79;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: "Bitter", sans-serif;
  color: #f5f4ed;
 /* background-color: rgba(28, 92, 155, 0.17);*/
  background-color: rgba(255, 255, 255, 1);
}

a {
  color: #e86256;
  text-decoration: none;
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
  width: 90%;
  max-width: 768px;
  height:2700px;
  margin: 2em auto;
  display:block
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

/* -------------------------------- 

Main components 

-------------------------------- */
header {
/*  background: rgba(75, 117, 147, 0.87);*/
  background: rgba(144, 106, 160, 0.76);
  height: 100px;
  text-align: center;
}
header h1 {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 1.6em;
  margin-bottom: .2em;
}
header p {
  font-size: 13px;
  font-size: 0.8125rem;
  color: #FEFCFD;
}
@media only screen and (min-width: 1024px) {
  header {
    height: 150px;
  }
  header h1 {
    font-size: 30px;
    font-size: 1.875rem;
    padding-top: 2em;
  }
}

main p {
  font-size: 14px;
  font-size: 1rem;
  line-height: 22px;
}
@media only screen and (min-width: 1024px) {
  main p {
    font-size: 14px;
    font-size: 1rem;
  }
}


    @-webkit-keyframes  shineRed {  
    from { -webkit-box-shadow: 0 0 5px #bbb; }  
    50% { -webkit-box-shadow: 0 0 10px red; }  
    to { -webkit-box-shadow: 0 0 5px #bbb; }  
    }  
    @-webkit-keyframes shineBlue {  
            from { -webkit-box-shadow: 0 0 9px #333; }  
            50% { -webkit-box-shadow: 0 0 18px blue; }  
            to { -webkit-box-shadow: 0 0 9px #333; }  
    }  
    .shine_red{  
    -webkit-animation-name: shineRed;   
    -webkit-animation-duration: 3s;  
    -webkit-animation-iteration-count: infinite;   
    }  
